name: "sdet deploy"
description: "sdet composite deploy reports"

inputs:
  profile:
    required: false
    description: "profile"
    default: ""
    type: string

  custom_command_report_folder:
    required: false
    description: "custom command report folder"
    default: ""
    type: string

  gpg_private_key:
    required: false
    description: "GPG private key exported as ASCII armored version for commit signing"
    default: ""
    type: string

  gpg_passphrase:
    required: false
    description: "Passphrase of the GPG private key"
    default: ""
    type: string

runs:
  using: "composite"
  steps:
    - name: import GPG key
      if: inputs.gpg_private_key != ''
      uses: crazy-max/ghaction-import-gpg@v6
      id: import_gpg
      with:
        gpg_private_key: ${{ inputs.gpg_private_key }}
        passphrase: ${{ inputs.gpg_passphrase }}
        git_config_global: true
        git_user_signingkey: true
        git_commit_gpgsign: true

    - name: report history action
      uses: kitabisa/report-history-action@master
      with:
        subfolder: ${{ inputs.profile }}
        keep_reports: 3
        report_folder: ${{ inputs.custom_command_report_folder }}
        gh_pages: gh-pages
        report_history: report-history

    - name: deploy reports to github pages
      if: inputs.gpg_private_key != ''
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        branch: gh-pages
        folder: report-history
        clean: true
        single-commit: true
        git-config-name: ${{ steps.import_gpg.outputs.name }}
        git-config-email: ${{ steps.import_gpg.outputs.email }}

    - name: deploy reports to github pages
      if: inputs.gpg_private_key == ''
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        branch: gh-pages
        folder: report-history
        clean: true
        single-commit: true
