name: "Terragrunt"
description: "Runs Terragrunt Plan & Apply"

inputs:
  path:
    required: true
    description: "Terragrunt path"
    type: string

  git_user:
    required: true
    description: "Git login user"
    type: string

  git_token:
    required: true
    description: "Git token access"
    type: string

  workload_identity_provider:
    required: false
    description: "Workload identity pool"
    type: string
    default: 'false'

  service_account:
    required: false
    description: "SA used in workload identity pool"
    type: string
    default: 'false'

runs:
  using: "composite"
  steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure Git for private modules
      shell: bash
      run: git config --global url."https://${{ inputs.git_user }}:${{ inputs.git_token }}@github.com".insteadOf "https://github.com"

    - name: Authenticate to Google Cloud with Workload Identity
      if: "${{ (inputs.workload_identity_provider != 'false') && (inputs.service_account != 'false') }}"
      uses: google-github-actions/auth@v3
      with:
        workload_identity_provider: ${{ inputs.workload_identity_provider }}
        service_account: ${{ inputs.service_account }}

    - name: Terragrunt Validation
      id: validate
      shell: bash
      run: |
        cd ${{ inputs.path }}
        terragrunt run-all validate --terragrunt-non-interactive

    - name: Terragrunt Plan
      id: plan
      if: github.event_name == 'pull_request'
      shell: bash
      run: |
        cd ${{ inputs.path }}
        terragrunt run-all plan --terragrunt-non-interactive -no-color > /tmp/stdout-plan.log

    - name: Update Pull Request
      uses: actions/github-script@v7.0.1
      if: github.event_name == 'pull_request'
      with:
        github-token: ${{ inputs.git_token }}
        script: |
          const execSync = require('child_process').execSync;
          const stdout = execSync('cat /tmp/stdout-plan.log');
          const output = `
          <details>
          <summary>Show Plan - ${{ inputs.path }}</summary>


          \`\`\`
          ${stdout}
          \`\`\`


          </details>
          `;

          github.rest.issues.createComment({
            issue_number: context.issue.number,
            owner: context.repo.owner,
            repo: context.repo.repo,
            body: output
          })

    - name: Terragrunt Apply
      id: apply
      if: github.event_name == 'push' || github.event_name == 'workflow_dispatch' || github.event_name == 'release'
      shell: bash
      run: |
        cd ${{ inputs.path }}
        terragrunt run-all apply --terragrunt-non-interactive
